* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: #000;
	text-shadow: white 5px 5px 5px;
	font-size: 100px;
}

html,
body {
  height: 100%;
}

select {
	margin: 10px;
}

#question {
	padding-top: 100px;
}

#answer {
	font-size: 200%;
}

#base-up,
#base-down,
#multiplier-up,
#multiplier-down {
	width: 50%;
	position: fixed;
	cursor: pointer;
}

#base-up,
#multiplier-up {
	top: 0;
	bottom: 50%;
}

#base-down,
#multiplier-down {
	top: 50%;
	bottom: 0;
}

#multiplier-up,
#multiplier-down {
	left: 50%;
	right: 100%;
}

#base-up,
#base-down {
	left: 0;
	right: 50%;
}

#up {
	left: 50%;
}

select {
	cursor: pointer;
}

body {
	transition: all 0.3s;
}

body[data-colour="red"] {
	background-color: red;
}

body[data-colour="orange"] {
	background-color: orange;
}

body[data-colour="yellow"] {
	background-color: yellow;
}

body[data-colour="green"] {
	background-color: green;
}

body[data-colour="blue"] {
	background-color: blue;
}

body[data-colour="indigo"] {
	background-color: indigo;
}

body[data-colour="violet"] {
	background-color: violet;
}

body[data-colour="red"],
body[data-colour="green"],
body[data-colour="blue"],
body[data-colour="indigo"] {
	color: white;
	text-shadow: black 5px 5px 5px;
}

@media (width: 768px), (height: 1024px) {

	/* iPad mini */

	body {
		font-size: 120px;
	}

	#question {
		padding-top: 260px;
	}

}
